<div class = "demo-table">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
        </tr>
        </thead>
        <!-- <tbody>
        <tr *ngFor="let friend of booking">
          <td><span>{{friend.id}}</span></td>
          <td><span>{{friend.firstname}}</span></td>
          <td><span>{{friend.lastname}}</span></td>
        </tr>
        </tbody> -->
      </table>
    </div>
      