.main-container {
    display: flex;

}

.main-container .side-nav {
    width: 250px;
    min-width: 200px;
    min-height: calc(100vh -70px);
    height: 900px;
    background-image: url('https://c0.wallpaperflare.com/preview/516/401/274/blue-sky-with-stars-at-nighttime.jpg');
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
}

@media only screen and (max-width: 1300px){
    .main-container .side-nav {
        width: 100px;
        min-width: 100px;
    }
}

.main-container .main {
    padding: 30px;
}
